@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
	font-family: "Popi";
	src: url('./fonts/pop.ttf');
}

@font-face{
	font-family: "Poppins";
	src: url('./fonts/klavika-light.otf');
}

@font-face{
	font-family: "Biggy";
	src: url('./fonts/biggy.ttf');
}

@layer base{
	html{
		font-family:Poppins;
		user-select: none;
	}
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
}




/*.logreg-form{
	@apply   h-screen flex  flex-col border-green-300 border-b-0 border-2

}*/



.logreg-form form input{
	@apply mb-10 px-7 mx-auto py-4 md:w-[350px] w-[250px] bg-white border-2 rounded border-gray-300 focus:outline-none 
}

.logreg-Btn{
	@apply font-normal 
}

.logreg-Btn-active{
	@apply px-2 border-b-[5.5px] rounded-sm border-green-300 pb-1 outline-none focus:outline-none 
}

.--submit{
	@apply focus:outline-none p-3  mb-5 bg-green-300 w-[110px] font-bold text-gray-700 text-center rounded-md
}


/* Login copyright */
.copyright{
	@apply text-center mx-auto  text-white
}

 
/* primary color : light-green */
/* secondary color : white */
/* tertiary color : ash*/
   
/* Chat Screen */
  
/*.chat-screen{
	@apply h-screen dark:bg-gray-900 bg-gray-300 w-full grid grid-cols-1 grid-rows-4 py-1 relative  md:static md:mr-1
}


.side-bar {
	@apply flex h-full px-1 justify-center items-center col-span-3  md:col-span-1 w-full
}

/* Search box */
/*.search-box{
	@apply flex w-full row-span-1 dark:bg-gray-400 bg-white mx-1 px-3 py-2 items-center h-14 justify-start rounded-full 
}

.search-box input{
	@apply focus:outline-none w-full bg-transparent rounded mx-1 text-sm md:text-lg
}

.search-box svg{
	@apply text-green-400  text-2xl
}*/
/* ******* */

/*
.conversation-inner{
	@apply grid grid-rows-5 w-full grid-cols-1
}

.conversation-box{
	@apply bg-white dark:bg-gray-600 h-[72vh] row-span-4 mx-3 mt-3 rounded-md px-2 py-2 items-center overflow-y-scroll 
}

.part-one{
	@apply flex bg-transparent h-full justify-between items-center
}

.conversation-card{
	@apply flex w-full px-2 py-3  rounded-sm justify-between items-center h-[7rem] 
}*/

/* Image */
/*.img-conatiner{
	@apply flex-col w-14 h-14 mx-2 md:mr-2 flex justify-center items-center relative rounded-full border-[3px] border-gray-300
}

.img-conatiner div{ 
	@apply bg-blue-200 rounded-full flex w-4 h-4 m-auto absolute bottom-[-2px] right-[-2px]
}

.img-conatiner img{
	@apply rounded-full w-12 h-12  object-cover pr-1
}*/
/* End Conversation image */


/* Nane and Message */
/*.name-last-message{
	@apply flex flex-col justify-evenly h-full transition-all 
}
.name-last-message p{
	@apply text-sm font-extralight 
}*/
/* End Name of Message */


/* Time and Nooti*/
/*.time-message-notification-count{
	@apply flex flex-col justify-evenly items-center  h-full
}

.time-message-notification-count span{
	@apply py-1 px-2 bg-orange-300 m-auto rounded-full text-sm text-white
}*/
/* End of time and Noti*/

/*.chat-main{
	@apply bg-green-100 h-full grid grid-rows-[7] col-span-2 md:ml-2 rounded absolute top-0 left-0 bottom-0 right-0 md:static
}

.chat-main-header{ 
	@apply h-16  w-full md:h-16 row-span-1 px-3 py-2 flex justify-start items-center
}*/

/*.chat-main-header p{
	@apply pl-2 
}

.chat-container{
	@apply row-span-4 bg-white h-full
}*/

/*.chat-utils{
	@apply row-span-1 bg-indigo-300  
}*/
